livekit-agents[sarvam,langchain]
python-dotenv
langchain
langchain-google-community
langgraph
sarvamai
langchain-sarvam
opentelemetry-exporter-otlp
google-auth-oauthlib
tzdata
langgraph-checkpoint-postgres
psycopg[binary,pool]
python-dateutil
